* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  border: 2px dotted lightskyblue;
  align-items: center;
  width: 40vw;
  margin-top: 25px;
  margin-left: 150px;
  padding: 20px;
  margin-bottom: 25px;
}

h2 {
  color: darkred;
  font-family: "Courier New", Courier, monospace;
}

label {
  display: flex;
  margin-top: 8px ;
}

input {
  padding: 8px 10px;
  width: 400px;
  border-radius: 8px;
  margin: 10px 0;
}

textarea {
  padding: 5px 8px;
  width: 400px;
  height: auto;
  border-radius: 8px;
  border: 2px solid #1e1e1e;
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  font-style: italic;
  margin: 10px 15px;
  background-color: lightskyblue;
  border: 2px solid lightcyan;
  cursor: pointer;
}
button:hover{
  background-color: blue;
  color: white;
}

input:hover,
textarea:hover{
  border: 2px solid lightskyblue;
  box-shadow: 3px 2px lightskyblue;
}

/* Java Script Code Section */

#card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 10px;
  padding: 0 20px;
}

.js_body {
  border: 2px dotted #1e1e1e;
  padding: 10px 15px;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.js_container {
  padding: 5px;
  margin-bottom: 5px;
}

.js_title {
  text-align: center;
  color: blue;
  margin: 3px 0;
}

.js_message {
  white-space: normal;
  text-align: justify;
  color: #333;
  margin-top: 5px;
  line-height: 1.5;
}

.remove-item {
  font-weight: bold;
  color: red;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 3px;
  display: none;
}
.js_body:hover .remove-item {
  display: block;
}
#card_title01{
  border: 2px dotted lightblue;
  width: 450px;
  height: 100px;
  position: absolute;
  top: 25px;
  right: 120px;
  padding: 5px 10px;
}
